<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="./static/style.css">
<title>Scope and goals — Advances in the collective behaviour of complex systems!</title>
<body>
  <header>
    <div id="headline"><h1>Advances in the collective<br>behaviour of complex systems!</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li class="active"><a href="./">Welcome</a></li>
          
            <li><a href="./registration/">Registration</a></li>
          
            <li><a href="./timetable/">Fees and Timetable</a></li>
          
            <li><a href="./location/">Location</a></li>
          
            <li><a href="./informations/">Additional Infos</a></li>
          
        </ul>
      </nav>
    </div>
    <img src="./static/logo.png" id="uni-logo">
    <img src="./static/dycos.png" id="dycos-logo">
  </header>
  <div class="page">
    
  <h2>Scope and goals</h2>
  <p>Statistical Physics and Theory of Chaos</p>
<p>University  of  Potsdam</p>
<p>September 1 to 3, 2016</p>
<p>The goal of the meeting is to bring together researchers from a wide range of backgrounds who share a common interest  in the theory and applications of collective behaviour in complex systems.  We invite you and your colleagues to participate at the meeting.   We base our programme on several top-level invited lectures and want to encourage discussion with the leading experts in the world during poster sessions.</p>
<p>and the <a href="http://www.dycos.uni-potsdam.de/">Center for Dynamics of Complex Systems</a> of the <a href="http://www.uni-potsdam.de/">University of Potsdam</a> .</p>
<p>Advances in the collective behaviour of complex systems is organized by:</p>
<ul>
<li><p><a href="http://www.stat.physik.uni-potsdam.de/~markus/">Markus Abel</a>, <a href="http://www.physik.uni-potsdam.de/">Physics and Astronomy</a>, <a href="http://www.uni-potsdam.de/">Potsdam University</a></p>
</li>
<li><p><a href="http://www.icbm.de/komplsyst">Ulrike Feudel</a>, <a href="http://www.icbm.de/">ICBM</a>, <a href="http://www.uni-oldenburg.de/">Oldenburg University</a></p>
</li>
<li><p><a href="https://de.wikipedia.org/wiki/Peter_Grassberger">Peter Grassberger</a>, <a href="http://www.fz-juelich.de/">Forschungszentrum Jülich</a></p>
</li>
<li><p><a href="http://www.abdn.ac.uk/icsmb/people/profiles/a.politi">Antonio Politi</a>, <a href="http://www.abdn.ac.uk/">The University of Aberdeen</a>, <a href="http://www.abdn.ac.uk/icsmb/">Institute for Complex Systems and Mathematical Biology</a></p>
</li>
<li><p><a href="http://www.stat.physik.uni-potsdam.de/~mros/">Michael Rosenblum</a>, <a href="http://www.physik.uni-potsdam.de/">Physics and Astronomy</a>, <a href="http://www.uni-potsdam.de/">Potsdam University</a></p>
</li>
</ul>


  </div>
  <footer>
    &copy; Copyright 2016 by mq.
  </footer>
</body>
