<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css">
<title>Additional Informations — Advances in the collective behaviour of complex systems!</title>
<body>
  <header>
    <div id="headline"><h1>Advances in the collective<br>behaviour of complex systems!</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li><a href="../">Welcome</a></li>
          
            <li><a href="../registration/">Registration</a></li>
          
            <li><a href="../timetable/">Fees and Timetable</a></li>
          
            <li><a href="../location/">Location</a></li>
          
            <li class="active"><a href="../informations/">Additional Infos</a></li>
          
        </ul>
      </nav>
    </div>
    <img src="../static/logo.png" id="uni-logo">
    <img src="../static/dycos.png" id="dycos-logo">
  </header>
  <div class="page">
    
  <h2>Additional Informations</h2>
  <h4><a href="../informations/{{ &#39;/static/logo.png&#39;|url }}">Participants</a></h4>
<h4><a href="../informations/poster.pdf">Call for applications poster</a></h4>
<h4>Poster Presentation</h4>
<p>Posters have to be prepared in the A0-Portrait-Format (high size, 1189mm x 841mm).</p>
<h4><a href="http://www.potsdam.de/cms/ziel/26822/EN/">Tourist information of Potsdam</a></h4>


  </div>
  <footer>
    &copy; Copyright 2016 by mq.
  </footer>
</body>
