<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css">
<title>Fees and Time Table — Advances in the collective behaviour of complex systems!</title>
<body>
  <header>

    <img src="../static/logo.png" id="uni-logo">
    <div id="headline"><h1>Advances in the collective<br>behaviour of complex systems!</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li><a href="../">Welcome</a></li>
          
            <li><a href="../registration/">Registration</a></li>
          
            <li><a href="../timetable/">Timetable</a></li>
          
            <li><a href="../location/">Location</a></li>
          
        </ul>
      </nav>
    </div>
    <img src="../static/dycos.png" id="dycos-logo">
  </header>
  <div class="page">
    
  <h2>Fees and Time Table</h2>
  <p>The registration fee amounts to 100,- Euro. It covers refreshments during the workshop and the conference dinner.
The fee will be paid via electoronic cash or cash on September 1-3 at the conference reception.</p>
<p>Main event:    September 1-3, 2016</p>
<p>Deadline for registration :     <strong>June 30, 2016</strong>
Final program to be circulated:     August 15, 2016
conference fee 100 EUR</p>


  </div>
  <footer>
    &copy; Copyright 2016 by mq.
  </footer>
</body>
