$def with(form, msg)
 <!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css">
<title>Registration — Advances in the collective behaviour of complex systems!</title>
<body>
  <header>
    <div id="headline"><h1>Advances in the collective<br>behaviour of complex systems!</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li><a href="../">Welcome</a></li>
          
            <li class="active"><a href="../registration/">Registration</a></li>
          
            <li><a href="../timetable/">Fees and Timetable</a></li>
          
            <li><a href="../location/">Location</a></li>
          
            <li><a href="../informations/">Additional Infos</a></li>
          
        </ul>
      </nav>
    </div>
    <a href="http://www.uni-potsdam.de/"><img src="../static/logo.png" id="uni-logo"></a>
    <a href="http://www.dycos.uni-potsdam.de/"><img src="../static/dycos.png" id="dycos-logo"></a>
  </header>
  <div class="page">
    
  <h2>Registration</h2>
$if msg: <h3> $msg </h3>
<form method="POST">
    $:form.render()
</form>

  </div>
  <footer>
    &copy; Copyright 2016 by Markus Quade.
  </footer>
</body>
