<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css">
<title> — Advances in the collective behaviour of complex systems!</title>
<body>
  <header>
    <div id="headline"><h1>Advances in the collective<br>behaviour of complex systems!</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li><a href="../">Welcome</a></li>
          
            <li><a href="../registration/">Registration</a></li>
          
            <li class="active"><a href="../timetable/">Fees and Timetable</a></li>
          
            <li><a href="../location/">Location</a></li>
          
            <li><a href="../informations/">Additional Infos</a></li>
          
        </ul>
      </nav>
    </div>
    <img src="../static/logo.png" id="uni-logo">
    <img src="../static/dycos.png" id="dycos-logo">
  </header>
  <div class="page">
    
  <h2></h2>
  <h1>Fees</h1>
<p>The registration fee amounts to 100,- Euro. It covers refreshments during the workshop and the conference dinner.
The fee will be paid via electoronic cash or cash on September 1-3 at the conference reception.</p>
<p>Main event:    September 1-3, 2016</p>
<p>Deadline for registration :     <strong>July 31, 2016</strong>
Final program to be circulated:     August 15, 2016
conference fee 100 EUR</p>
<hr>
<h1>Preliminary Timetable</h1>
<p><strong>First day (Thursday, 01.09.2016):</strong></p>
<p>14.00 - 15.00 (two invited talks)</p>
<p>15.05 - 16.05 (two invited talks)</p>
<p><em>coffee break</em></p>
<p>16.15 - 17.30 posters plus snacks</p>
<p>16.70 - 18.30 (two invited talks)</p>
<p>18.30 - 19.30 (two invited talks)</p>
<p><strong>Second day (Friday, 02.09.2016):</strong></p>
<p>9.00 - 10.30 (three invited talks)</p>
<p><em>coffee break</em></p>
<p>11.00 - 12.00 (two invited talks)</p>
<p><em>lunch</em></p>
<p>14.00 - 15.30 (three invited talks)</p>
<p><em>coffee break</em></p>
<p>16.00 - 17.00 (two invited talks)</p>
<p>17.05 - 18.05 (two invited talks)</p>
<p><strong>dinner</strong></p>
<p><strong>Third day (Saturday, 03.09.2016)</strong></p>
<p>9.00 - 10.30 (one invited and three contributed talks)</p>
<p><em>coffee break</em></p>
<p>10.50 – 12:10 (four contributed talks)</p>
<p>12.10 – 12:30 (concluding remarks)</p>


  </div>
  <footer>
    &copy; Copyright 2016 by mq.
  </footer>
</body>
